@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --ls-font-family: "Roboto", sans-serif;
}

/* Styles that apply to both modes. Coud be reduces further -> would make it harder to implement changes afterwards ... */
html[data-theme="dark"],
.dark-theme,
html[data-theme="light"],
.white-theme {
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
  --ls-tag-text-color: var(--ls-link-text-color);
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-search-background-color: var(--ls-secondary-background-color);
  --ls-border-color: var(--ls-primary-text-color);
  --ls-secondary-border-color: var(--ls-primary-text-color);
  --ls-page-properties-background-color: var(--ls-secondary-background-color);
  --ls-block-properties-background-color: var(--ls-secondary-background-color);
  --ls-block-ref-link-text-color: var(--ls-link-text-color);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-link-text-color);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  /* Bullets */
  --ls-block-bullet-color: var(--ls-quaternary-background-color);
  --ls-block-bullet-active-color: var(--ls-link-text-color);
  --ls-block-bullet-threading-width: 1px;
  --ls-bullet-closed-color: var(--ls-secondary-text-color);
}

/* dark theme and light theme sidebar */
html[data-theme="dark"],
.dark-theme,
html[data-theme="light"] .left-sidebar-inner {
  --ls-main-content-max-width: 700px;
  --ls-primary-background-color: #1f2428;
  --ls-secondary-background-color: #24292e;
  --ls-tertiary-background-color: #282e34;
  --ls-quaternary-background-color: #292e33;
  --ls-table-tr-even-background-color: rgba(246, 246, 246, 0.065);
  --ls-active-primary-color: #8ec2c2;
  --ls-active-secondary-color: #eeffff;
  --ls-guideline-color: rgba(246, 246, 246, 0.2);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgba(190, 195, 200, 0.95);
  --ls-secondary-text-color: rgba(215, 215, 215, 0.7);
  --ls-link-text-color: #b2dbdb;
  --ls-link-text-hover-color: #fff;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-highlight-color: rgba(246, 246, 246, 0.1);
  --ls-selection-background-color: rgba(246, 246, 246, 0.1);
  --ls-page-checkbox-color: rgba(246, 246, 246, 0.1);
  --ls-page-checkbox-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: rgba(246, 246, 246, 0.2);
  --ls-page-title-size: 2rem;
  --ls-scrollbar-foreground-color: rgba(246, 246, 246, 0.15);
  --ls-scrollbar-background-color: var(--ls-primary-background-color);
  --ls-scrollbar-thumb-hover-color: rgba(246, 246, 246, 0.3);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--ls-page-inline-code-bg-color);
  --ls-block-bullet-border-color: rgba(246, 246, 246, 0.25);
}
html[data-theme="light"],
.white-theme {
  --ls-tertiary-rgb: 237, 237, 237; /* Just used once, abandoned reuse. So it is not necessary anymore to go that nested. But still does the job so it stays.*/
  --ls-accent-rgb: 27, 125, 125;
  color: rgb(22, 107, 107);
  /* for code color picker pruposes */
  --ls-primary-background-color: #f0f0f0;
  --ls-secondary-background-color: #eaeaea;
  --ls-tertiary-background-color: rgba(var(--ls-tertiary-rgb), 0.9);
  --ls-quaternary-background-color: #e0dddd;
  --ls-secondary-text-color: rgba(215, 215, 215, 0.7);
  --ls-link-text-color: rgba(var(--ls-accent-rgb), 0.9);
  --ls-link-text-hover-color: rgba(var(--ls-accent-rgb), 1);
  --ls-active-primary-color: #8ec2c2;
  --ls-page-title-size: 2rem;
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: rgba(0, 0, 0, 0.2);
  --ls-page-title-size: 2rem;
  --ls-page-blockquote-border-color: rgba(var(--ls-accent-rgb), 0.25);
  --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.2);
  --ls-scrollbar-background-color: var(--ls-primary-background-color);
  --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-selection-background-color: rgba(0, 0, 0, 0.1);
  --ls-block-bullet-active-color: #86b6b6;
  --ls-block-bullet-border-color: rgba(128, 128, 128, 0.1);
}
/* .ls-block[haschild="true"]:focus-within > div > .block-content-wrapper::before {
  border-color: var(--ls-block-bullet-active-color);
} */

html[data-theme="light"] .cp__header a {
  color: #6d7272;
}

html[data-theme="light"] a:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

/* ===[ Bullet Threading ]=== */
.block-control {
  z-index: 1;
}

.block-children {
  border-left-width: var(--ls-block-bullet-threading-width);
  border-color: var(--ls-quaternary-background-color);
  margin-left: -3px;
}
.block-children-left-border {
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.block-children-left-border:hover {
  background-color: var(--ls-block-bullet-border-color);
}

.block-content-wrapper {
  position: relative;
}

.bullet-container {
  height: 14px !important;
  width: 14px !important;
  position: relative;
  transform: translate(1px, -1px);
}

/* Block bullet path should only show in a nested block */
.ls-block {
  /* Fix for headings like h1, h2 etc */
  /* Basic "curve" */
  /* Fix multi-line blocks with children */
}
.ls-block .bullet {
  background-color: var(--ls-block-bullet-active-color);
  box-shadow: 0 0 0 1px var(--ls-block-bullet-active-color);
}
.ls-block div.items-center {
  position: relative;
  /* height: 26px !important; */
}
.ls-block > .items-baseline {
  align-items: baseline;
}
.ls-block:not(:focus-within) .bullet {
  background-color: var(--ls-block-bullet-color);
  transform: scale(1);
  box-shadow: none;
}
.ls-block:not(:focus-within) > .items-baseline {
  align-items: baseline;
}
.ls-block .ls-block > div > div.items-center::before {
  pointer-events: none;
  content: "";
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  right: 6px;
  /* top: calc(-50% + var(--ls-block-bullet-threading-width) * 0.5 - 1px); */
  bottom: 50%;
  /* shift left 1px for border */
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  border-bottom: var(--ls-block-bullet-threading-width) solid transparent;
  border-bottom-left-radius: 6px;
}
.ls-block .ls-block:focus-within > div > div.items-center::before {
  border-color: var(--ls-block-bullet-active-color);
}
.ls-block .block-children > .ls-block::before {
  pointer-events: none;
  content: "";
  top: -1rem;
  bottom: 0;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  position: absolute;
}
.ls-block .block-children:focus-within > .ls-block:not(:focus-within)::before {
  border-color: var(--ls-block-bullet-active-color);
}
.ls-block
  .block-children:focus-within
  > .ls-block:focus-within
  ~ .ls-block::before {
  border-color: transparent;
}
.ls-block[haschild="true"] > div > .block-content-wrapper::before {
  pointer-events: none;
  content: "";
  top: 12px;
  bottom: 0;
  left: -15px;
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
}
.ls-block[haschild="true"]:focus-within > div > .block-content-wrapper::before {
  border-color: var(--ls-block-bullet-active-color);
}

/* Disable for doc mode */
.doc-mode div.items-center::before,
.doc-mode div.items-center::after,
.doc-mode .ls-block::before,
.doc-mode .ls-block::after {
  display: none;
}

/* === Custom colors in buttons, hints etc ===  */

/* submit button in calendar etc */
.dark-theme .bg-indigo-600 {
  background-color: var(--ls-link-text-color);
  color: var(--ls-primary-background-color);
}

.dark-theme .hover\:bg-indigo-700:hover,
.hover\:bg-indigo-500:hover {
  background-color: var(--ls-primary-text-color);
}

/* pre */
.hljs {
  background: transparent;
}

/* hints */
.dark-theme .Tooltip__label {
  width: 11ch;
  border: 1px solid var(--ls-primary-text-color);
  background: var(--ls-secondary-background-color);
}

.dark-theme .Tooltip__label::after {
  border-bottom-color: var(--ls-primary-text-color);
}

/* block references link count mark */
a.open-block-ref-link {
  color: var(--ls-primary-background-color);
  background-color: var(--ls-link-text-color);
}

/* bold font */
/* .dark-theme b,
.dark-theme strong {
  color: #fff;
} */

/* brackets in links */
.page-reference .bracket {
  opacity: 0.5;
  color: var(--ls-link-text-color);
}

/* === Highlights === */
mark {
  background: rgba(246, 246, 246, 0.8);
  color: var(--ls-primary-background-color);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 14px;
}
html[data-theme="light"] mark {
  background: rgba(0, 0, 0, 0.5);
}

/* fix color page-reference when mark text */
mark .page-ref,
mark .page-reference .bracket {
  color: var(--ls-primary-background-color);
  font-weight: bold;
}

/* === Checkbox === */
.form-checkbox {
  background-color: var(--ls-primary-background-color);
}
.dark-theme .form-checkbox {
  border: 1px solid rgba(246, 246, 246, 0.5);
}
html[data-theme="light"] .form-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dark-theme .form-checkbox:checked {
  border-color: rgba(246, 246, 246, 0.5);
  background-color: var(--ls-primary-background-color);
}

html[data-theme="light"].form-checkbox:checked {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: var(--ls-link-text-color);
}

.dark-theme .form-checkbox:focus {
  border-color: rgba(246, 246, 246, 0.5);
}

.dark-theme .form-checkbox:checked:focus {
  background-color: inherit;
  border-color: rgba(246, 246, 246, 0.5);
}

.form-checkbox:hover {
  transform: scale(1.2);
}

/* === Marker for Task Status === */
.marker-switch {
  font-size: 0.75rem;
  margin-right: 6px;
  margin-left: 2px;
  border-radius: 0;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  height: 16px;
  opacity: 1;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  border: 1px solid;
  line-height: 1;
  cursor: pointer;
}
.dark-theme .marker-switch {
  color: rgba(246, 246, 246, 0.5);
}
html[data-theme="light"] .marker-switch {
  color: rgba(0, 0, 0, 0.5);
}

/* === Filters === */
.filters button:focus {
  outline: none;
}

/* === External Links === */
a.external-link {
  border-bottom: 0px;
}
a.external-link:after {
  background-color: var(--ls-link-text-color);
  bottom: -2px;
  content: "";
  display: inline-block;
  height: 14px;
  left: -1px;
  margin: 0 1px 0 5px;
  mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGDSURBVHgBtZaNcYMwDIUfGzgbqBuUDcwkaTdoJ4AN0gmaTNJu0GyQdILSCUjRIa6yMT+x4d29O7CNPmMLmQzryYhZ39hIDChbX1vflPn+2JqwoigA8t20fsEKogCslrZ6C6iG/UhAo/qLwBhCpCzc2T+OjNu1PquxB0TqpIK8e33k3Rdw3zJKnyqIVe2VtF1UW4b/PW0QuawaaDyYH5iBVyQCSQA2ALvJPRRQT8QgUdUEjPWs+r6QqHIGlsPdv/1UMIuuNJ3Fh4UwI8+WcAvAZQxEcJNCm2ZgOYZVpodRCPaAYblqxP0MK4wv42sA9oGJzPRLEQez8oDBfILwhHl1eAuOcL/RgZ48mF+uqhnY3dI1b781zHgBl8AKuSZEiOCe1KF2P/V1UiQBa6+Ps7OBu4w2FQi4308RmJDWCePH02K9qSCcQLuRcTncZbaIFKH7HPRe8ptmYp4A/0bUCO93lDhgg2U/RqPlag3o4toYK0JXmvoM1fW0QuIhmmEezvoVJ+sPourrpWEel2gAAAAASUVORK5CYII=");
  -webkit-mask-box-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGDSURBVHgBtZaNcYMwDIUfGzgbqBuUDcwkaTdoJ4AN0gmaTNJu0GyQdILSCUjRIa6yMT+x4d29O7CNPmMLmQzryYhZ39hIDChbX1vflPn+2JqwoigA8t20fsEKogCslrZ6C6iG/UhAo/qLwBhCpCzc2T+OjNu1PquxB0TqpIK8e33k3Rdw3zJKnyqIVe2VtF1UW4b/PW0QuawaaDyYH5iBVyQCSQA2ALvJPRRQT8QgUdUEjPWs+r6QqHIGlsPdv/1UMIuuNJ3Fh4UwI8+WcAvAZQxEcJNCm2ZgOYZVpodRCPaAYblqxP0MK4wv42sA9oGJzPRLEQez8oDBfILwhHl1eAuOcL/RgZ48mF+uqhnY3dI1b781zHgBl8AKuSZEiOCe1KF2P/V1UiQBa6+Ps7OBu4w2FQi4308RmJDWCePH02K9qSCcQLuRcTncZbaIFKH7HPRe8ptmYp4A/0bUCO93lDhgg2U/RqPlag3o4toYK0JXmvoM1fW0QuIhmmEezvoVJ+sPourrpWEel2gAAAAASUVORK5CYII=");
  mask-position: center;
  -webkit-mask-box-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-box-repeat: no-repeat;
  mask-size: 14px 14px;
  -webkit-mask-box-size: 14px 14px;
  object-fit: cover;
  position: relative;
  transition: 0.3s;
  width: 14px;
}

a.external-link:hover:after {
  background-color: var(--ls-link-text-hover-color);
}

/* === Tags ===  */
a.tag[data-ref] {
  color: var(--ls-primary-background-color);
  background: var(--ls-link-text-color);
  border-radius: 0.5rem 0rem;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 0.75rem;
  padding: 0.2rem 0.3rem;
  transition: 0.3s;
  white-space: nowrap;
}
html[data-theme="light"] a.tag[data-ref] {
  background-color: rgba(var(--ls-accent-rgb), 0.66);
}

a.tag[data-ref]:hover {
  opacity: 1;
  background-color: var(--ls-link-text-hover-color);
  border-radius: 0rem 0.5rem;
}

/* === Inline code === */
:not(pre) > code {
  padding: 2px 5px !important;
}

/* === Code Calc result position fix === */
.extensions__code-calc {
  top: 11px;
  padding: 0 0.75em;
}

/* === CodeMirror === */
.CodeMirror {
  font-family: "Fira Code", monospace;
  line-height: 1.2;
  background: var(--ls-secondary-background-color);
}

.CodeMirror-hscrollbar {
  cursor: default;
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-white,
.cm-s-solarized.cm-s-light {
  color: var(--ls-primary-text-color);
  background-color: var(--ls-primary-background-color);
  border: 7px solid var(--ls-secondary-background-color);
  text-shadow: none;
}
.CodeMirror-gutters {
  background-color: #f7f7f7;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: rgba(40, 42, 51, 0.5);
}
.cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background-color: rgba(40, 42, 51, 0.033);
}

.CodeMirror-linenumber {
  color: var(--ls-primary-text-color);
  opacity: 0.5;
  text-shadow: none;
}

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  color: var(--ls-primary-text-color);
  opacity: 0.5;
  text-shadow: none;
}

.extensions__code-lang {
  background: var(--ls-secondary-background-color);
}

.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
  background: var(--ls-selection-background-color);
}
.cm-s-solarized.cm-s-light div.CodeMirror-selected {
  background: var(--ls-selection-background-color);
}

.CodeMirror-selected {
  background: var(--ls-selection-background-color);
}
.CodeMirror-focused .CodeMirror-selected {
  background: var(--ls-selection-background-color);
}

.editor-inner :is(.h1, .h2),
.ls-block :is(h1, h2) {
  margin: 0 0 0.5em !important;
}
.editor-inner :is(.h2),
.ls-block :is(h2) {
  position: relative;
  top: -0.15em;
}
.editor-inner :is(.h3),
.ls-block :is(h3) {
  position: relative;
  top: -0.25em;
  margin: 0.25em 0 -0.25em;
}
.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) #pdf-layout-container[data-theme="dark"] {
  background-color: var(--ls-quaternary-background-color);
}
#pdf-layout-container[data-theme="dark"] .textLayer {
  background-color: var(--ls-tertiary-background-color);
}

.block-body ul > li {
  margin: 0.5em 0;
}
.block-body ul > li:first-child {
  margin-top: 0;
}
.block-body ul > li:last-child {
  margin-bottom: 0;
}
.ls-block {
  padding: 0.25em 0;
}
.ls-block[haschild="true"] {
  padding-top: 0.5em !important;
}
/* .block-children > .ls-block[haschild="true"]:first-child {
  padding-top: 0 !important;
} */
#lazy-blocks > div > .ls-block {
  padding: 0.75em 0 !important;
}

#lazy-blocks > div > .ls-block:first-child {
  margin-top: -0.5em;
}
.ls-block div.items-center {
  height: 24px !important;
}
.ls-block .ls-block > div > div.items-center::before {
  bottom: 51%;
  margin-top: -18px;
  top: 0px;
}
.ls-block .block-children .ls-block::before {
  top: -1rem;
}
#lazy-blocks
  > div
  .ls-block[haschild="true"]
  > div
  > .block-content-wrapper::before {
  top: 1em !important;
}
.block-children .ls-block[haschild="true"] div .block-content-wrapper::before {
  top: 0 !important;
}
