/* Table of Contents
{{{ ==>
1. Global
  1.1. Color Palette & Variables
  1.2. Layout Corrections
  1.3. Typography
  1.4. Links & Buttons
2. Page Components
  2.1. Content Blocks
  2.2. Tasks
  2.3. Code
  2.4. PDF Viewer
3. Bullet threading
4. Plugin specific
  4.1. Tabs
  4.2. Table of Contents
<== }}} */

/* { == 1. Global ==> */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
	font-size: 1.0375rem;
}

/* {{ 1.1.Color Palette & Variables */
/* Styles that apply to both dark & light mode */
html[data-theme="dark"],
.dark-theme,
html[data-theme="light"],
.white-theme {
	--ls-font-family: "Roboto", sans-serif;
	--ls-main-content-max-width: 860px;
	--ls-page-text-size: 1em;
	--ls-page-title-size: 2rem;
	--ls-link-ref-text-color: var(--ls-link-text-color);
	--ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
	--ls-head-text-color: var(--ls-link-text-color);
	--ls-title-text-color: var(--ls-primary-text-color);
	--ls-tag-text-color: var(--ls-link-text-color);
	--ls-tag-text-hover-color: var(--ls-link-text-hover-color);
	--ls-search-background-color: var(--ls-secondary-background-color);
	--ls-border-color: var(--ls-quaternary-background-color);
	--ls-secondary-border-color: var(--ls-secondary-text-color);
	--ls-page-properties-background-color: var(--ls-secondary-background-color);
	--ls-block-properties-background-color: var(--ls-secondary-background-color);
	--ls-block-ref-link-text-color: var(--ls-link-text-color);
	--ls-page-blockquote-color: var(--ls-primary-text-color);
	--ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
	--ls-page-blockquote-border-color: var(--ls-border-color);
	--ls-icon-color: var(--ls-link-text-color);
	--ls-search-icon-color: var(--ls-link-text-color);
	--color-level-1: var(--ls-secondary-background-color);
	--color-level-2: var(--ls-tertiary-background-color);
	--color-level-3: var(--ls-quaternary-background-color);
	--ls-scrollbar-background-color: var(--ls-primary-background-color);
	--ls-page-inline-code-color: var(--ls-primary-text-color);
	--ls-block-bullet-color: var(--ls-quaternary-background-color);
	--ls-block-bullet-active-color: var(--ls-link-text-color);
	--ls-block-bullet-threading-width: 1px;
	--ls-bullet-closed-color: var(--ls-secondary-text-color);
}
/*  Dark theme & Light themes left sidebar  */
html[data-theme="dark"],
.dark-theme,
html[data-theme="light"] .left-sidebar-inner,
html[data-theme="light"] .ls-left-sidebar-open .cp__header > .l {
	--ls-accent-rgb: 178, 219, 219;
	--ls-primary-background-color: #1f2428;
	--ls-secondary-background-color: #24292e;
	--ls-tertiary-background-color: #282e34;
	--ls-quaternary-background-color: #292e33;
	--ls-selection-background-color: rgba(246, 246, 246, 0.1);
	--ls-table-tr-even-background-color: rgba(246, 246, 246, 0.065);
	--ls-active-primary-color: #8ec2c2;
	--ls-active-secondary-color: #eeffff;
	--ls-guideline-color: rgba(246, 246, 246, 0.2);
	--primary-text-opacity: 0.98;
	--ls-primary-text-color: rgba(195, 200, 205, var(--primary-text-opacity));
	--ls-secondary-text-color: rgba(195, 200, 205, 0.66);
	--ls-link-text-color: rgba(var(--ls-accent-rgb), var(--primary-text-opacity));
	--ls-link-text-hover-color: rgba(244, 244, 244, var(--primary-text-opacity));
	--ls-slide-background-color: var(--ls-primary-background-color);
	--ls-block-highlight-color: rgba(246, 246, 246, 0.1);
	--ls-page-inline-code-bg-color: rgba(246, 246, 246, 0.2);
	--ls-scrollbar-foreground-color: rgba(246, 246, 246, 0.15);
	--ls-scrollbar-thumb-hover-color: rgba(246, 246, 246, 0.3);
	--ls-right-sidebar-code-bg-color: var(--ls-page-inline-code-bg-color);
	--ls-block-bullet-border-color: rgba(246, 246, 246, 0.15);
}
/* Light theme */
html[data-theme="light"],
.white-theme {
	--ls-accent-rgb: 30, 125, 124;
	--ls-primary-background-color: #f0f0f1;
	--ls-secondary-background-color: #e8e9ea;
	--ls-tertiary-background-color: rgba(225, 225, 225, 0.9);
	--ls-quaternary-background-color: #e0e1e1;
	--ls-selection-background-color: rgba(0, 0, 0, 0.1);
	--ls-active-primary-color: #8ec2c2;
	--ls-secondary-text-color: rgba(33, 33, 33, 0.8);
	--ls-link-text-color: rgba(var(--ls-accent-rgb), 0.9);
	--ls-link-text-hover-color: rgba(var(--ls-accent-rgb), 1);
	--ls-page-inline-code-bg-color: rgba(0, 0, 0, 0.1);
	--ls-page-blockquote-border-color: rgba(var(--ls-accent-rgb), 0.25);
	--ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.2);
	--ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
	--ls-block-bullet-active-color: #86b6b6;
	--ls-block-bullet-border-color: rgba(128, 128, 128, 0.1);
}
/* }} */

/* {{ 1.2. Layout corrections */
/* Helps to not overlap content with tabs plugin */
#main-content-container {
	margin-top: 1.9em;
	padding-top: 1.9em !important;
}
/* Add some white space to the right.
(This is because the actual start of the content on the left side is offset if we include the bullets and spacing.) */
.cp__sidebar-main-content {
	margin-right: 24px;
}
/* }} */

/* {{ 1.3. Typography */
/* Headings */
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.editor-inner :is(.h1, .h2, .h3, .h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {
	position: relative;
	margin: 0;
}
.editor-inner .uniline-block:is(.h1),
.editor-inner :is(.h1),
.ls-block :is(h1) {
	top: 0.15em;
	margin: -0.15em 0 0.15em;
}
.editor-inner .uniline-block:is(.h2),
.editor-inner :is(.h2),
.ls-block :is(h2) {
	top: -0.1em;
	/* positive margin leaves a gap between bullet and indentation lines */
	/* margin: 0.25em 0 0; */
}
.editor-inner .uniline-block:is(.h3, .h4, .h5, .h6),
.editor-inner :is(.h3, .h4, .h5, .h6),
.ls-block :is(h3, h4) {
	top: -0.25em;
	margin: 0.25em 0 -0.25em;
}
.editor-inner .uniline-block:is(.h3),
.editor-inner :is(.h3),
.ls-block :is(h3) {
	font-size: 1.2em;
}
.editor-inner .uniline-block:is(.h4),
.editor-inner :is(.h4),
.ls-block :is(h4) {
	font-size: 1.1em;
}
.editor-inner .uniline-block:is(.h5),
.editor-inner :is(.h5),
.ls-block :is(h5) {
	font-size: 1.05em;
}
.editor-inner .uniline-block:is(.h6),
.editor-inner :is(.h6),
.ls-block :is(h6) {
	font-size: 1em;
}
.cp__themes-installed > .it > section > strong {
	font-size: 0.875em;
}
/* }} */

/* {{ 1.4. Links & Buttons */
html[data-theme="light"] .cp__header a,
html[data-theme="light"] .cp__header button,
html[data-theme="light"] .extensions__pdf-toolbar > .inner > .r a,
html[data-theme="light"] a svg {
	color: #6d7272;
}
.cp__header .add-graph-btn {
	border: none;
}
.cp__header .add-graph-btn span {
	margin-top: 0 !important;
}
html[data-theme="light"] .cp__sidebar-left-layout a {
	color: var(--ls-secondary-text-color);
}
html[data-theme="light"] h1 a {
	color: var(--ls-title-text-color);
}
html[data-theme="light"] a:hover {
	background-color: var(--ls-quaternary-background-color);
	color: var(--ls-primary-text-color);
}
/* External Links */
a.external-link {
	border-bottom: 1px dashed;
}
a.external-link::after {
	position: relative;
	bottom: -2px;
	left: -1px;
	display: inline-block;
	margin: 0 1px 0 5px;
	width: 14px;
	height: 14px;
	background-color: var(--ls-link-text-color);
	content: "";
	transition: 0.3s;

	mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGDSURBVHgBtZaNcYMwDIUfGzgbqBuUDcwkaTdoJ4AN0gmaTNJu0GyQdILSCUjRIa6yMT+x4d29O7CNPmMLmQzryYhZ39hIDChbX1vflPn+2JqwoigA8t20fsEKogCslrZ6C6iG/UhAo/qLwBhCpCzc2T+OjNu1PquxB0TqpIK8e33k3Rdw3zJKnyqIVe2VtF1UW4b/PW0QuawaaDyYH5iBVyQCSQA2ALvJPRRQT8QgUdUEjPWs+r6QqHIGlsPdv/1UMIuuNJ3Fh4UwI8+WcAvAZQxEcJNCm2ZgOYZVpodRCPaAYblqxP0MK4wv42sA9oGJzPRLEQez8oDBfILwhHl1eAuOcL/RgZ48mF+uqhnY3dI1b781zHgBl8AKuSZEiOCe1KF2P/V1UiQBa6+Ps7OBu4w2FQi4308RmJDWCePH02K9qSCcQLuRcTncZbaIFKH7HPRe8ptmYp4A/0bUCO93lDhgg2U/RqPlag3o4toYK0JXmvoM1fW0QuIhmmEezvoVJ+sPourrpWEel2gAAAAASUVORK5CYII=");
	-webkit-mask-box-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGDSURBVHgBtZaNcYMwDIUfGzgbqBuUDcwkaTdoJ4AN0gmaTNJu0GyQdILSCUjRIa6yMT+x4d29O7CNPmMLmQzryYhZ39hIDChbX1vflPn+2JqwoigA8t20fsEKogCslrZ6C6iG/UhAo/qLwBhCpCzc2T+OjNu1PquxB0TqpIK8e33k3Rdw3zJKnyqIVe2VtF1UW4b/PW0QuawaaDyYH5iBVyQCSQA2ALvJPRRQT8QgUdUEjPWs+r6QqHIGlsPdv/1UMIuuNJ3Fh4UwI8+WcAvAZQxEcJNCm2ZgOYZVpodRCPaAYblqxP0MK4wv42sA9oGJzPRLEQez8oDBfILwhHl1eAuOcL/RgZ48mF+uqhnY3dI1b781zHgBl8AKuSZEiOCe1KF2P/V1UiQBa6+Ps7OBu4w2FQi4308RmJDWCePH02K9qSCcQLuRcTncZbaIFKH7HPRe8ptmYp4A/0bUCO93lDhgg2U/RqPlag3o4toYK0JXmvoM1fW0QuIhmmEezvoVJ+sPourrpWEel2gAAAAASUVORK5CYII=");
	mask-position: center;
	-webkit-mask-box-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-box-repeat: no-repeat;
	mask-size: 14px 14px;
	-webkit-mask-box-size: 14px 14px;
	object-fit: cover;
}
a.external-link:hover::after {
	background-color: var(--ls-link-text-hover-color);
}
/* custom colors in buttons, hints etc  */
.bg-indigo-600 {
	color: var(--ls-primary-background-color);
	transition: 0.3s;
}
.dark-theme .bg-indigo-600 {
	background-color: rgba(var(--ls-accent-rgb), 0.8);
}
.dark-theme .hover\:bg-indigo-700:hover,
.hover\:bg-indigo-500:hover {
	background-color: rgb(var(--ls-accent-rgb));
	opacity: 1;
}
.dark-theme button.bg-white {
	border-color: var(--ls-block-bullet-border-color);
	background-color: var(--ls-secondary-background-color);
	color: var(--ls-secondary-text-color);
}
.dark-theme button.bg-white:hover {
	background-color: var(--ls-tertiary-background-color);
	color: var(--ls-primary-text-color);
}
.white-theme .bg-indigo-600 {
	background-color: rgba(var(--ls-accent-rgb), 0.66);
}
.white-theme .hover\:bg-indigo-700:hover {
	background-color: rgba(var(--ls-accent-rgb), 0.8);
	opacity: 1;
}
/* pre */
.hljs {
	background: transparent;
}
/* hints */
.dark-theme .Tooltip__label {
	width: 11ch;
	border: 1px solid var(--ls-primary-text-color);
	background: var(--ls-secondary-background-color);
}
.dark-theme .Tooltip__label::after {
	border-bottom-color: var(--ls-primary-text-color);
}
/* block references link count mark */
a.open-block-ref-link {
	background-color: var(--ls-link-text-color);
	color: var(--ls-primary-background-color);
}
/* brackets in links */
.page-reference .bracket {
	color: var(--ls-link-text-color);
	opacity: 0.5;
}
/* Tags */
a.tag[data-ref] {
	padding: 0.2rem 0.3rem;
	border-radius: 0.5rem 0rem;
	background: var(--ls-link-text-color);
	color: var(--ls-primary-background-color);
	white-space: nowrap;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 0.75rem;
	line-height: 0.75rem;
	transition: 0.3s;
}
html[data-theme="light"] a.tag[data-ref] {
	background-color: rgba(var(--ls-accent-rgb), 0.66);
}
a.tag[data-ref]:hover {
	border-radius: 0rem 0.5rem;
	opacity: 1;
}
html[data-theme="light"] a.tag[data-ref]:hover {
	color: var(--ls-primary-background-color);
}
/* Highlights */
mark {
	padding: 2px 4px;
	border-radius: 3px;
	background: rgba(246, 246, 246, 0.8);
	color: var(--ls-primary-background-color);
	font-size: 14px;
}
html[data-theme="light"] mark {
	background: rgba(0, 0, 0, 0.5);
}
/* fix color page-reference when mark text */
mark .page-ref,
mark .page-reference .bracket {
	color: var(--ls-primary-background-color);
	font-weight: bold;
}
/* Search results */
html[data-theme="light"] .search-results-wrap a .rounded.border {
	border-color: var(--ls-tertiary-background-color);
	background-color: var(--ls-primary-background-color);
}
/* <== }}} */

/* { == 2. Page Components ==> */
/* {{ 2.1. Content Blocks */
.block-body ul > li {
	margin: 0.5em 0;
}
.block-body ul > li:first-child {
	margin-top: 0;
}
.block-body ul > li:last-child {
	margin-bottom: 0;
}
.ls-block {
	padding: 0.3em 0;
}
.ls-block[level="1"] {
	padding-top: 0.6em;
}
.block-children {
	padding: 0.16em 0;
}
#lazy-blocks > div .ls-block[haschild] > div > .block-content-wrapper::before {
	top: 0.9rem;
}
/* }} */

/* {{ 2.2. Tasks */
/* Checkboxes */
.form-checkbox {
	margin-top: 0 !important;
	margin-right: 0.5em !important;
	width: 0.9em;
	height: 0.9em;
	border: 0.1em solid var(--ls-secondary-text-color);
	background-color: var(--ls-primary-background-color);
	opacity: 0.75;
}
/* Status switcher  */
.marker-switch {
	position: relative;
	display: inline-block;
	margin: 0 0.6em 0 0;
	padding: 0.175em 0.15em 0;
	border-radius: 0;
	color: var(--ls-secondary-text-color);
	text-align: center;
	font-weight: 500;
	font-size: 0.8em;
	line-height: 1;
	opacity: 0.66;
	cursor: pointer;
}
.form-checkbox:hover {
	background-color: var(--ls-secondary-background-color);
	border-color: var(--ls-link-text-color);
	opacity: 0.9;
	transform: none;
}
.form-checkbox:checked {
	border-color: var(--ls-secondary-text-color);
	background-color: var(--ls-secondary-background-color);
}
html[data-theme="light"] .form-checkbox:checked {
	background-color: var(--ls-active-primary-color);
}
/* Status switcher  */
/* Status switcher - bordered variant */
/* .form-checkbox {
	margin-top: 0 !important;
	margin-right: 0.5em !important;
	width: 0.95em;
	height: 0.95em;
	border: 0.1em solid var(--ls-secondary-text-color);
	background-color: var(--ls-primary-background-color);
	opacity: 0.75;
}
.marker-switch {
	position: relative;
	top: -0.1em;
	display: inline-block;
	margin: 0 0.6em 0 0;
	padding: 0.175em 0.33em 0.033em;
	border: 0.1em solid var(--ls-border-color);
	border-radius: 0;
	color: var(--ls-secondary-text-color);
	text-align: center;
	font-weight: 500;
	font-size: 0.7em;
	line-height: 1;
	opacity: 1;
	opacity: 0.75;
	cursor: pointer;
} */
.dark-theme .marker-switch:hover {
	border-color: var(--ls-link-text-color);
	color: var(--ls-link-text-color);
}
.canceled,
.done {
	opacity: 0.5;
}
.done {
	text-decoration: none;
}
/* }} */

/* {{ 2.3. Code */
/* Inline code */
:not(pre) > code {
	padding: 2px 5px !important;
}
.extensions__code .code-editor {
	margin-top: 0;
}
/* Code Calc result position fix */
.extensions__code-calc {
	top: 11px;
	padding: 0 0.75em;
}
.extensions__code-lang {
	background: var(--ls-secondary-background-color);
}
/* CodeMirror */
.extensions__code > .CodeMirror {
	border-radius: 0.25rem;
	background: var(--ls-secondary-background-color);
	font-family: "Fira Code", monospace;
	line-height: 1.2;
}
.CodeMirror-hscrollbar {
	cursor: default;
}
.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-white,
.cm-s-solarized.cm-s-light {
	border: 7px solid var(--ls-secondary-background-color);
	background-color: var(--ls-primary-background-color);
	color: var(--ls-primary-text-color);
	text-shadow: none;
}
.CodeMirror-gutters {
	background-color: #f7f7f7;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
	background-color: rgba(40, 42, 51, 0.5);
}
html[data-theme="light"] .cm-s-solarized.cm-s-dark .CodeMirror-gutters {
	background-color: rgba(40, 42, 51, 0.1);
}
.cm-s-solarized.cm-s-light .CodeMirror-gutters {
	background-color: rgba(40, 42, 51, 0.033);
}
.CodeMirror-linenumber {
	color: var(--ls-primary-text-color);
	text-shadow: none;
	opacity: 0.5;
}
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
	color: var(--ls-primary-text-color);
	text-shadow: none;
	opacity: 0.5;
}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
	background: var(--ls-selection-background-color);
}
.cm-s-solarized.cm-s-light div.CodeMirror-selected {
	background: var(--ls-selection-background-color);
}
.CodeMirror-selected {
	background: var(--ls-selection-background-color);
}
.CodeMirror-focused .CodeMirror-selected {
	background: var(--ls-selection-background-color);
}
.CodeMirror-lines {
	padding-right: 1em;
}
/* }} */

/* {{ 2.4. PDF Viewer */
#pdf-layout-container[data-theme="dark"],
#pdf-layout-container[data-theme="light"] {
	background-color: var(--ls-quaternary-background-color);
}
#pdf-layout-container[data-theme="dark"] .textLayer {
	background-color: #282e34;
}
#pdf-layout-container[data-theme="light"] .textLayer {
	background-color: var(--ls-primary-background-color);
	opacity: 0.125;
}
#pdf-layout-container[data-theme="dark"] .extensions__pdf-toolbar,
#pdf-layout-container[data-theme="light"] .extensions__pdf-toolbar {
	right: 0;
	width: 100%;
}
#pdf-layout-container[data-theme="dark"] .extensions__pdf-toolbar .inner,
#pdf-layout-container[data-theme="light"] .extensions__pdf-toolbar .inner {
	margin-right: 1em;
}
#pdf-layout-container[data-theme="dark"] .extensions__pdf-toolbar .inner .buttons,
#pdf-layout-container[data-theme="light"] .extensions__pdf-toolbar .inner .buttons {
	border-radius: 0.25rem;
}
#pdf-layout-container[data-theme="dark"] .extensions__pdf-toolbar {
	background: linear-gradient(0deg, rgba(246, 246, 246, 0) 10%, var(--ls-secondary-background-color) 100%);
}
#pdf-layout-container[data-theme="light"] .extensions__pdf-toolbar {
	background: linear-gradient(0deg, rgba(246, 246, 246, 0) 10%, rgb(31, 36, 40, 0.3) 100%);
}
/* <== }}} */

/* { == 3. Bullet Threading ==> */
:not(:dsl-query) .block-control {
	min-width: 0;
	width: 1.55em;
}
.block-children {
	border-color: var(--ls-quaternary-background-color);
	border-left-width: var(--ls-block-bullet-threading-width);
	border-radius: 0;
}
.block-children-left-border:hover {
	background-color: var(--ls-block-bullet-border-color);
}
.block-content-wrapper {
	position: relative;
}
.bullet-container {
	position: relative;
	width: 14px !important;
	height: 14px !important;
	transform: translate(1px, -1px);
	/* align-items: end; */
}
/* Block bullet path in nested block only */
.ls-block .bullet {
	background-color: var(--ls-block-bullet-active-color);
	box-shadow: 0 0 0 1px var(--ls-block-bullet-active-color);
}
.ls-block div.items-center {
	position: relative;
}
.ls-block > .items-baseline {
	align-items: center;
}
.ls-block:not(:focus-within) .bullet {
	background-color: var(--ls-block-bullet-color);
	box-shadow: none;
	transform: scale(1);
}
.ls-block:not(:focus-within) > .items-baseline {
	align-items: center;
}
.ls-block .ls-block > div > div.items-center::before {
	position: absolute;
	top: calc(-100% + var(--ls-block-bullet-threading-width) * 0.5 - 0.1em);
	right: 10px;
	bottom: 50%;
	left: calc(-0.5 * var(--ls-block-bullet-threading-width));
	border-bottom: var(--ls-block-bullet-threading-width) solid transparent;
	border-left: var(--ls-block-bullet-threading-width) solid transparent;
	border-bottom-left-radius: 6px;
	content: "";
	pointer-events: none;
}
.ls-block .ls-block:focus-within > div > div.items-center::before {
	border-color: var(--ls-block-bullet-active-color);
}
.ls-block .block-children > .ls-block::before {
	position: absolute;
	top: -1.19em;
	bottom: 0;
	left: calc(-0.5 * var(--ls-block-bullet-threading-width));
	border-left: var(--ls-block-bullet-threading-width) solid transparent;
	content: "";
	pointer-events: none;
}
.ls-block .block-children:focus-within > .ls-block:not(:focus-within)::before {
	border-color: var(--ls-block-bullet-active-color);
}
.ls-block .block-children:focus-within > .ls-block:focus-within ~ .ls-block::before {
	border-color: transparent;
}
.ls-block[haschild] > div > .block-content-wrapper::before {
	position: absolute;
	top: 0.9em;
	bottom: 0;
	left: -1em;
	border-left: var(--ls-block-bullet-threading-width) solid transparent;
	content: "";
	pointer-events: none;
}
.ls-block[haschild]:focus-within > div > .block-content-wrapper .block-content::before {
	border-color: var(--ls-block-bullet-active-color);
}
/* disable first fracking level for embedded content */
.embed > div > div > div > div > div > div::before,
.embed-block > div > div > div > div > div > div > div::before,
.custom-query .blocks-container > div > div > .ls-block > div > .items-center::before {
	border-color: transparent !important;
}
/* algin embeded pages to content width */
.block-content .flex-1 {
	overflow: hidden;
}
/* disable for doc mode */
.doc-mode div.items-center::before,
.doc-mode div.items-center::after,
.doc-mode .ls-block::before,
.doc-mode .ls-block::after {
	display: none;
}
/* <== }}} */

/* { == 4. Plugin specific ==> */
/* {{ 4.1. Tabs Plugin */
#main-content-container {
	margin-top: 1.9em;
	padding-top: 1.9em !important;
}
html[data-theme="dark"] #logseq-tabs_lsp_main {
	filter: sepia(0) saturate(0.8) opacity(0.85) hue-rotate(360deg) grayscale(0.05) brightness(0.85) invert(0.04);
	/* border-bottom: 1px solid var(--ls-quaternary-background-color); */
}
/* }} */

/* {{ 4.2. Table of Contents Plugin */
[id*="logseq-tocgen--toc-slot"] {
	padding-left: 0.5em;
}
.kef-tocgen-page span {
	position: relative;
	top: -0.1em;
}
.kef-tocgen-block-collapse {
	border-color: var(--ls-quaternary-background-color) !important;
}
.kef-tocgen-page::before,
.kef-tocgen-block::before {
	position: relative;
	top: 0.7em;
	left: 0.5em;
	z-index: 1;
	display: inline-block;
	width: 0.375em;
	height: 0.4em;
	border-radius: 50%;
	background-color: var(--ls-block-bullet-color);
	content: " ";
	pointer-events: none;
}
[data-ref="logseq-tocgen"] .kef-tocgen-block-children {
	margin-left: 1.2em;
}
button.kef-tocgen-arrow {
	position: relative;
	margin: 0;
	margin-left: -0.75em;
	padding: 0;
	padding-left: 1.2em;
}
button.kef-tocgen-arrow svg {
	position: relative;
	top: 0.05em;
	left: -0.53em;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	background-color: var(--ls-block-bullet-border-color);
	color: transparent;
}
.kef-tocgen-page button.kef-tocgen-arrow svg {
	top: -0.095em;
	left: -0.54em;
}
button.kef-tocgen-arrow svg[style*="transform"] {
	left: -1.2em;
	margin-right: 0.3em;
	width: 0.5em;
	height: 0.5em;
	background-color: transparent;
	filter: none;
}
button.kef-tocgen-arrow:hover svg[style*="transform"] {
	color: var(--ls-link-text-color);
}
/* <== }}} */
